.navbar {
  width: 100%;
  height: 40px;
}

.navbar ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
}
.navbar ul li {
  font-size: 1.18rem;
}
.navbar ul li:hover {
  color: var(--main-color);
  font-weight: bold;
  cursor: pointer;
}
.navbar ul li.active {
  color: var(--main-color);
  font-weight: bold;
}
